@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-angle: 0deg;
}

@keyframes border-rotate {
  from {
    --border-angle: 0deg;
  }
  to {
    --border-angle: 360deg;
  }
}

@property --border-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.youtube-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 850px;
  border-radius: 30px;
  background: linear-gradient(to bottom, #7687B5, #333B4F) padding-box, 
              conic-gradient(
                from var(--border-angle),
                #7687B5, #333B4F
              ) border-box;
  border: 4px solid transparent;
  animation: border-rotate 3s linear infinite;
}
