@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes borderSnake {
  0% {
      border-color: transparent;
      border-left-color: #566999; 
  }
  25% {
      border-color: #566999;
  }
  50% {
      border-color: transparent;
      border-right-color: #566999; 
  }
  75% {
      border-color: #566999;
  }
  100% {
      border-color: transparent;
      border-bottom-color: #566999;
  }
}

.animate-borderSnake {
  animation: borderSnake 10s infinite; /* Adjust timing for speed */
  border-style: solid;
  border-width: 4px;
  border-radius: 24px
}
